/* Default (Light) Mode Styles */
body {
    padding: 25px;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Dark Mode Styles (applied when the class is toggled) */
body.dark-mode {
    background-color: black;
    color: white;
}

#darkmode {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 5px;
    border-radius: 20px;
    background-color: #2e2e2e;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

#darkmode.dark-mode-button {
    background-color: #bbbbbb;
}

#darkmode #dmimg {
    filter: invert(0);
    transition: filter 0.3s; /* Smooth transition */
}

#darkmode #dmimg.dark-mode-image {
    filter: invert(1);
}

#container{
    width: 100%;
    margin: auto;
}
#mainHeader{
    background-position: 0%;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 2);
    min-height: 50px;
    font-size: 40px;
    margin: 0;
}
#mainnav{
    background:rgb(77, 69, 73) ;
    color:black;
}
#mainnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainnav li{
    display:inline;
    padding: 5px 10px;
}
#mainnav a{
    color:black;
    text-decoration:dotted;
}
#mainnav li:hover{
    background: #787676;
}
#jumbo{
    background-position: center center;
    min-height: 200px;
    text-align: center;
}
#jumbo h1{
    color: black;
    font-size: 45px;
    padding-top: 30px;
    line-height: 2em;
}
#jumbo h2{
 color:  rgb(205, 37, 37);   
 font-size: 100px;
}
#jumbo h3{
    color: black;
    font-size: 45px;
    padding-top: 30px;
    line-height: 2em;
}
#jumbo2{
    background-position: center center;
    min-height: 200px;
    text-align: center;
    font-size: 50px;
}
#jumbo2 h3{
    color: black;
    font-size: 45px;
    padding-top: 30px;
    line-height: 2em;
}