/* Default (Light) Mode Styles */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
/* Dark Mode Styles (applied when the class is toggled) */
body.dark-mode {
    background-color: rgb(59, 59, 59);
    color: white;
}

#darkmode {
    position: fixed;
    top: 7px;
    right: 7px;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: #2e2e2e;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
body.dark-mode #darkmode {
    background-color: #e2e2e2;
}

#darkmode #dmimg {
    filter: invert(0);
    transition: filter 0.3s; /* Smooth transition */
}
body.dark-mode #darkmode #dmimg {
    filter: invert(1);
}

/* Navbar Styles */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(208, 208, 208);
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 999;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
body.dark-mode #navbar {
    background-color: #333;
}

#navbar a {
    color: black;
    padding: 20px 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
body.dark-mode #navbar a {
    color: white;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}
body.dark-mode #navbar a:hover {
    background-color: #222222;
    color: white;
}